wp-config.php
node_modules/
wordpress/wp-content/debug.log
wordpress/wp-content/uploads/*
wordpress/wp-content/themes/nick-jaussi/style.css
wordpress/wp-content/themes/nick-jaussi/main.js
wordpress/wp-content/backupwordpress-be1e416326-backups
