.header {
  font-family: $font-family-roboto;
  order: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @include mq(tablet) {
    order: 1;
    margin-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    text-align: right;
    width: 15%;
  }

  a {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $brand-color;
      text-decoration: underline;
    }
  }

  .current_page_item > a {
    color: $brand-color;

    &:before {
      display: inline-block;
      font-size: .6rem;
      color: $brand-color;
      content: 'x';
      margin-right: .4rem;
      transform: translateY(.1rem);
    }
  }

  .menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > * {
      display: inline-block;

      @include mq(tablet) {
        display: block;
        margin-bottom: .75rem;
      }
    }
  }
}
