.header {
  border-bottom: 2px solid $brand-color;
  font-family: $font-family-roboto;
  margin-bottom: 1rem;
  order: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  text-align: center;
  width: 100%;

  @include mq(tablet) {
    border-bottom: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    order: 1;
    padding-bottom: 0;
    padding-right: 2rem;
    padding-top: 2rem;
    text-align: right;
    width: 25%;
  }

  @include mq(desktop) {
    width: 18%;
  }

  a {
    color: currentColor;
    text-decoration: none;

    @include mq(wide) {
      font-size: 1.1rem;
    }

    &:hover,
    &:focus {
      color: $brand-color;
      text-decoration: underline;
    }
  }

  .current_page_item > a {
    color: $brand-color;

    &:before {
      @include mq(tablet) {
        color: $brand-color;
        content: 'x';
        display: inline-block;
        font-size: .6rem;
        margin-right: .4rem;
        transform: translateY(.1rem);
      }
    }
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;

    @include mq(wide) {
      margin-top: 1rem;
    }

    > * {
      display: inline-block;

      @include mq(tablet) {
        display: block;
        margin-bottom: .75rem;
      }

      @include mq(wide) {
        margin-bottom: .9rem;
      }
    }

    > * + * {
      margin-left: 1rem;

      @include mq(tablet) {
        margin-left: 0;
      }
    }
  }
}
