.logo {
  cursor: pointer;
  display: block;

  &__image {
    height: 60px;
    pointer-events: none;
    width: 100px;

    @include mq(tablet) {
      height: 80px;
      width: 140px;
    }
  }

  &__image-name {
    fill: rgb(0, 0, 0);
  }

  &__image-tagline {
    fill: $brand-color;
  }
}
