.logo {
  cursor: pointer;
  display: block;

  &__image {
    height: 80px;
    pointer-events: none;
    width: 140px;
  }

  &__image-name {
    fill: rgb(0, 0, 0);
  }

  &__image-tagline {
    fill: $brand-color;
  }
}
