.page {
  color: $text-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  $focus-size: .35rem;
  $corner-spacing: .25rem;
  $size: 2rem;

  @include mq(tablet) {
    flex-direction: row;
  }

  &:after,
  &:before {
    content: '';
    display: none;
    height: $size;
    position: absolute;
    width: $size;

    @include mq(tablet) {
      display: block;
    }
  }

  &:after {
    border-bottom: $focus-size solid $brand-color;
    border-left: $focus-size solid $brand-color;
    bottom: $corner-spacing;
    left: $corner-spacing;
  }

  &:before {
    border-right: $focus-size solid $brand-color;
    border-top: $focus-size solid $brand-color;
    right: $corner-spacing;
    top: $corner-spacing;
  }
}
