.story-tile {
  color: black;
  margin-bottom: 1rem;
  margin-left: 1rem;
  overflow: hidden;
  position: relative;
  width: calc(100% - 1rem);

  // overwrite explicit background-color
  @include mq($until: desktop) {
    background-color: rgb(255, 255, 255) !important;
  }

  @include mq(tablet) {
    width: calc(50% - 1rem);
  }

  @include mq(desktop) {
    color: white;
    display: flex;
    flex: 0 0 auto;
  }

  & > a {
    color: currentColor;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  img {
    height: auto;
    width: 100%;

    @include mq(desktop) {
      transition: all 300ms ease;
    }
  }

  & > a:hover img,
  & > a:focus img {
    @include mq(desktop) {
      filter: grayscale(100%);
      opacity: .15;
    }
  }

  &__type {
    display: block;
    font-size: .85rem;
    font-weight: $font-weight-normal;

    @include mq(desktop) {
      margin-bottom: .3rem;
      padding-bottom: .3rem;
    }
  }

  &__title-text {
    display: inline;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      left: 0;
      position: absolute;
      top: -.3rem;
      width: 100%;

      @include mq(desktop) {
        border-top: 1px solid $brand-color;
      }
    }
  }

  &__title {
    background-color: white;
    border-bottom: 2px solid $brand-color;
    font-family: $font-family-roboto;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    margin: -2rem 1rem 0 1rem;
    padding: .5rem;
    text-transform: lowercase;

    @include mq(tablet) {
      border-bottom: 0;
    }

    @include mq(desktop) {
      background-color: transparent;
      font-size: 1.35rem;
      left: 50%;
      margin: 0 .5rem;
      opacity: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 200ms ease;
    }
  }

  & > a:hover > &__title,
  & > a:focus > &__title {
    @include mq(desktop) {
      opacity: 1;
    }
  }
}
