.story-detail {
  margin-left: .8rem;

  @include mq(tablet) {
    height: calc(100vh - 1.6rem);
    margin-top: .8rem;
    overflow: hidden;
  }

  &__canvas {
    transition: transform 400ms ease;
  }
}
