.story-detail-slide {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: calc(100vh - .75rem);
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: .75rem;
  position: relative;
  width: 100%;

  &--intro {
    height: auto;
  }

  &__type {
    display: block;
    font-size: .85rem;
    font-weight: $font-weight-normal;
  }

  &__sub-title {
    color: $brand-color;
    display: block;
    font-size: 1rem;
    font-weight: $font-weight-normal;
    margin-top: .25rem;
  }

  &__title {
    font-family: $font-family-roboto;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }

  &__image-wrap {
    flex: 0 1 auto;
    height: 100%;
    overflow: hidden;
    text-align: center;

    > img {
      height: 100%;
      object-fit: contain;
      width: auto;
    }
  }

  &__content {
    margin-bottom: 4rem;
    padding-top: 6rem;
  }

  &__text-content {
    border-top: 1px solid $brand-color;
    column-count: 2;
    font-family: $font-family-roboto;
    font-size: 1.1rem;
    line-height: 1.45;
    margin: 1.5rem auto;
    max-width: 54rem;
    padding-top: 1.5rem;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__caption {
    font-family: $font-family-roboto;
    font-size: .8rem;
    line-height: 1.25;
    margin-top: 1.5rem;
    width: 100%;
  }
}
