.story-detail {
  margin-left: .8rem;
  margin-top: .8rem;
  position: relative;

  &__frame {
    overflow: hidden;
  }

  &__slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .no-js & {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__slider-controls {
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    left: calc(100% + .4rem);
    position: absolute;
    z-index: 100;

    .no-js & {
      display: none;
    }
  }

  &__slider-control {
    background: transparent;
    border: 0;
    cursor: pointer;
    opacity: .2;
    padding: .3rem .5rem;
    position: relative;
    user-select: none;

    &:hover,
    &:focus {
      opacity: 1;
    }

    > svg {
      fill: currentColor;
      height: 1.5rem;
      pointer-events: none;
      width: 1.5rem;
    }
  }
}
