.story-detail-slide {
  margin: 0 0 2.5rem 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  @include mq(tablet) {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2.4rem);
    margin-bottom: 1.5rem;
  }

  &--intro {
    height: auto;
  }

  &--outro {
    height: auto;
    text-align: center;
  }

  &__type {
    display: block;
    font-size: .85rem;
    font-weight: $font-weight-normal;

    @include mq(tablet) {
      font-size: 1rem;
    }
  }

  &__sub-title {
    color: $brand-color;
    display: block;
    font-size: .8rem;
    font-weight: $font-weight-normal;
    margin-top: .25rem;

    @include mq(tablet) {
      font-size: 1rem;
    }
  }

  &__title {
    font-family: $font-family-roboto;
    font-size: 1.6rem;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;

    @include mq(tablet) {
      font-size: 2rem;
    }
  }

  &__image-wrap {
    flex: 1;
    height: 100%;
    position: relative;
    width: 100%;

    > img {
      height: auto;
      object-fit: contain;
      width: 100%;

      @include mq(tablet) {
        height: 100%;
        left: 50%;
        max-width: 100%;
        position: absolute;
        transform: translateX(-50%);
        width: auto;
      }
    }
  }

  &__video-wrap {
    height: 100%;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    width: 100%;

    > iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__content {
    @include mq(tablet) {
      margin-bottom: 4rem;
      padding-top: 2rem;
    }
  }

  &__text-content {
    border-top: 1px solid $brand-color;
    font-family: $font-family-roboto;
    font-size: 1rem;
    line-height: 1.45;
    margin: 1rem auto;
    max-width: 54rem;
    padding-top: 1rem;

    @include mq(tablet) {
      column-count: 2;
      font-size: 1.1rem;
      margin-top: 1.5rem;
      padding-top: 1.5rem;
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__caption {
    font-family: $font-family-roboto;
    font-size: .8rem;
    line-height: 1.25;
    width: 100%;

    @include mq(tablet) {
      max-width: 57rem;
      width: auto;
    }

    &:not(:empty) {
      margin-top: .3rem;

      @include mq(tablet) {
        margin-top: .75rem;
      }
    }
  }

  a {
    color: $brand-color;
  }
}
