.text {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;

  @include mq(tablet) {
    max-width: 42rem;
    padding-bottom: 4rem;
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    font-family: $font-family-roboto;
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    margin-left: .5rem;
    margin-top: 0;
    text-transform: lowercase;

    @include mq(tablet) {
      font-size: 1.8rem;
      margin-left: 1rem;
    }

    &:before {
      color: $brand-color;
      content: 'x';
      display: inline-block;
      font-size: .9rem;
      line-height: 1.2;
    }
  }

  &__content {
    font-family: $font-family-roboto;
    line-height: 1.45;

    a {
      color: $brand-color;
    }
  }

  &__author-image {
    margin: 0;

    @include mq(tablet) {
      float: right;
      margin-bottom: 1.5rem;
      margin-left: 1.5rem;
      max-width: 12rem;
    }

    @include mq(desktop) {
      margin-right: -6rem;
      max-width: 18rem;
    }

    @include mq(wide) {
      margin-right: -10rem;
      max-width: 20rem;
    }

    > img {
      height: auto;
      width: 100%;
    }

    > figcaption {
      font-family: $font-family-roboto;
      font-size: .8rem;
      line-height: 1.25;
      width: 100%;

      @include mq(tablet) {
        max-width: 57rem;
        width: auto;
      }

      &:not(:empty) {
        margin-top: .5rem;

        @include mq(tablet) {
          margin-top: .75rem;
        }
      }

      a {
        color: $brand-color;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
