.text {
  margin: 0 auto;
  max-width: 42rem;
  padding-bottom: 4rem;
  padding-top: 2rem;

  &__title {
    font-family: $font-family-roboto;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    margin-left: 1rem;
    text-transform: lowercase;

    &:before {
      color: $brand-color;
      content: 'x';
      display: inline-block;
      font-size: .9rem;
      line-height: 1.2;
    }
  }

  &__content {
    font-family: $font-family-roboto;
    line-height: 1.45;

    a {
      color: $brand-color;
    }
  }

  &__author-image {
    float: right;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: -8rem;
  }
}
